<footer class="footer">
  <div class="wrapper-footer" id="contacto">
    <div class="call-to-action-footer">
      <h2 class="title-footer">Convierte tus ideas en realidad</h2>
      <p class="text-footer">¿Listo para dar vida a tus ideas?</p>
      <ul class="list-call-footer">
        <li>
          <a href="mailto:silfridobenitez65@gmail.com" target="_blank" class="btn btn-primary">
            ¿Hablamos?
          </a>
        </li>
      </ul>
    </div>

    <div class="grid-redes">
      <p class="text-redes">Diseñado por: Silfrido Benítez</p>
      <ul class="list-footer">
        <li>
          <a href="https://dribbble.com/chio123chio" target="_blank">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17"><path d="M12.75.375h-7.5A4.38 4.38 0 0 0 .875 4.75v7.5a4.38 4.38 0 0 0 4.375 4.375h7.5a4.38 4.38 0 0 0 4.375-4.375v-7.5A4.38 4.38 0 0 0 12.75.375ZM9 12.25a3.75 3.75 0 1 1 0-7.5 3.75 3.75 0 0 1 0 7.5Zm4.688-7.5a.937.937 0 1 1 0-1.874.937.937 0 0 1 0 1.874ZM11.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" fill="#FEFFC5"/></svg>
            Instagram
          </a>
        </li>
        <li>
          <a href="https://dribbble.com/chio123chio" target="_blank">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17"><path d="M6.287 1.38A.312.312 0 0 1 6.35.818a8.12 8.12 0 0 1 6.926.777.313.313 0 0 1 .079.459 11.978 11.978 0 0 1-3.273 2.89A13.237 13.237 0 0 0 6.287 1.38Zm2.68 4.151a11.953 11.953 0 0 0-4.375-3.665.308.308 0 0 0-.312.026 8.157 8.157 0 0 0-2.996 4.063.313.313 0 0 0 .235.403 11.797 11.797 0 0 0 7.448-.827Zm8.11 2.085a8.11 8.11 0 0 0-2.28-4.804.312.312 0 0 0-.47.027 13.216 13.216 0 0 1-3.57 3.156c.43.742.784 1.525 1.06 2.336a13.096 13.096 0 0 1 4.917-.372.312.312 0 0 0 .343-.34v-.003ZM12.162 9.53a13.103 13.103 0 0 1 .026 5.885.313.313 0 0 0 .445.35 8.145 8.145 0 0 0 4.42-6.19.314.314 0 0 0-.273-.352 11.909 11.909 0 0 0-4.618.313V9.53Zm-1.535-.816a11.854 11.854 0 0 0-.968-2.126A13.047 13.047 0 0 1 4 7.875c-.916 0-1.829-.096-2.725-.285a.312.312 0 0 0-.376.278 8.103 8.103 0 0 0 2.553 6.563.313.313 0 0 0 .48-.072 13.203 13.203 0 0 1 6.695-5.643v-.002ZM4.913 15.16a.313.313 0 0 0 .12.428 8.115 8.115 0 0 0 5.378.914.307.307 0 0 0 .239-.207 11.92 11.92 0 0 0 .61-3.757c0-.88-.098-1.756-.293-2.614a11.948 11.948 0 0 0-6.054 5.236Z" fill="#FEFFC5"/></svg>
            Dribbble
          </a>
          </li>
        <li>
          <a href="https://www.linkedin.com/in/silfrido-benitez-91677130a/" target="_blank">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17"><path d="M15.4.1H2.6a2 2 0 0 0-2 2v12.8a2 2 0 0 0 2 2h12.8a2 2 0 0 0 2-2V2.1a2 2 0 0 0-2-2ZM5.8 6.5v7.6H3.4V6.5h2.4ZM3.4 4.288c0-.56.48-.988 1.2-.988s1.172.428 1.2.988c0 .56-.448 1.012-1.2 1.012-.72 0-1.2-.452-1.2-1.012ZM14.6 14.1h-2.4v-4c0-.8-.4-1.6-1.4-1.616h-.032C9.8 8.484 9.4 9.308 9.4 10.1v4H7V6.5h2.4v1.024S10.172 6.5 11.724 6.5c1.588 0 2.876 1.092 2.876 3.304V14.1Z" fill="#FEFFC5"/></svg>
            Linkedin
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const sr = ScrollReveal({
      origin: 'bottom',
      distance: '80px',
      duration: 2000,
      reset: false
    });

    sr.reveal('.title-footer', {
      delay: 200,
      interval: 200
    })
    sr.reveal('.text-footer', {
      delay: 250,
      interval: 250
    })
    sr.reveal('.list-call-footer', {
      delay: 300,
      interval: 300
    })
  });
</script>

<style>
  .footer{
    background-color: var(--fondo);
    background-image: url(/images/grid.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 1rem;
    margin-top: 6rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .wrapper-footer{
    max-width: 1500px;
		width: 90%;
		margin: 0 auto;
  }
  .list-call-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .call-to-action-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }
  .title-footer{
    font-size: var(--font-seccion);
    font-weight: bold;
    letter-spacing: 0.02rem;
    line-height: 1.3;
    text-align: center;
    color: var(--principal);
    margin-bottom: 1rem;
  }
  .text-footer{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: var(--principal);
    margin-bottom: 2rem;
  }
  .grid-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--principal);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .text-redes{
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: var(--principal);
    margin-bottom: 0;
  }
  .list-footer{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .list-footer li{
    font-size: .85rem;
    color: var(--principal);
    line-height: 24px;
    letter-spacing: 0.02rem;
    margin-top: 0;
  }
  .list-footer li a{
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--principal);
    text-decoration: none;
    position: relative;
  }
  .list-footer li a::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--secundario);
    transition: all .3s;
  }
  .list-footer li a:hover::after{
    width: 100%;
    transition: all .3s;
  }
  .list-footer li a svg{
    width: 20px;
    height: 20px;
    fill: var(--principal);
  }

  .btn-up{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: fit-content;
    text-decoration: none;
    transition: all .3s;
    font-size: 1rem;
    background: transparent;
    color: var(--principal);
    border: 0;
    line-height: 24px;
    letter-spacing: 0.02rem;
    margin-top: 0;
    cursor: pointer;
    position: relative;
  }
  .btn-up svg{
    width: 16px;
    height: 16px;
  }
  .btn-up::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--secundario);
    transition: all .3s;
  }
  .btn-up:hover::after{
    width: 100%;
    transition: all .3s;
  }
  @media screen and (max-width:1100px) {
    .wrapper-footer{
		  width: 100%;
    }
  }
  @media screen and (max-width:768px) {
    .footer{
      padding-top: 4rem;
    }
    .wrapper-footer{
      max-width: 100%;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .call-to-action-footer{
      padding-bottom: 4rem;
    }
    .grid-redes{
      flex-direction: column-reverse;
      gap: 2rem;
    }
    .text-redes,
    .list-footer li a{
      font-size: .8rem;
    }
  }
</style>