<header class="header">
  <nav class="nav">
    <a href="/" class="logo">
      Silfrido Benítez
    </a>
    <button class="btn-menu" aria-label="Menú">
      <span class="linea-1"></span>
      <span class="linea-2"></span>
      <span class="linea-3"></span>
    </button>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/#sobre-mi" class="nav-link">Sobre mí</a>
      </li>
      <li class="nav-item">
        <a href="/#experiencia" class="nav-link">Experiencia</a>
      </li>
      <li class="nav-item">
        <a href="/#proyectos" class="nav-link">Proyectos</a>
      </li>
      <li class="nav-item">
        <a href="/#contacto" class="nav-link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
<style>
  .header{
    position: fixed;
    top: 1rem;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    border: .001rem solid rgba(255, 255, 255, .1);
    background: rgb(85 81 177 / 80%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    max-width: 1450px;
    width: calc(90% - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
  }
  .nav{
		width: 100%;
		margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    font-size: 1.5rem;
    color: var(--principal);
    text-decoration: none;
  }
  .nav-list{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .nav-link{
    font-size: 1rem;
    color: var(--principal);
    text-decoration: none;
    position: relative;
  }
  .nav-link::before{
    content: '';
    position: absolute;
    right: -1.65rem;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--principal);
    transition: all .3s;
  }
  .nav-list li:last-child .nav-link::before{
    display: none;
  }
  .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--secundario);
    transition: all .3s;
  }
  .nav-link:hover::after{
    width: 100%;
    transition: all .3s;
  }

  .btn-menu{
    width: 24px;
    height: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-left: auto;
    background: transparent;
    position: relative;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: transform .5s ease, opacity .3s ease;
    transform: translateY(0) rotate(0);
    will-change: transform;
  }
  .btn-menu span {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 1px;
    background: #ffffffe6;
    transition: transform .5s, opacity .25s;
    transform: translate(-50%, -50%);
    will-change: normal;
  }
  .linea-1 {
    top: 10%;
  }
  .linea-2 {
    top: 50%;
  }
  .linea-3 {
    top: 90%;
  }
  .btn-menu.open .linea-1 {
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
  }
  .btn-menu.open .linea-2 {
    top: 50%;
    opacity: 0;
    transform: translate(-50%);
  }
  .btn-menu.open .linea-3 {
    top: 50%;
    transform: translate(-50%) rotate(45deg);
  }
  @media screen and (max-width:1100px) {
    .header{
      max-width: calc(100% - 30px);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-menu{
      margin-left: auto;
      display: block;
    }
    .nav{
      max-width: 100%;
      padding: 1.2rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .nav-list{
      width: 100%;
      height: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      grid-column-start: 1;
      grid-column-end: 3;
      overflow: hidden;
      transition: all .3s;
    }
    .nav-list.open{
      height: 248px;
      padding-top: 2rem;
      transition: all .3s;
    }
    .nav-item{
      width: 100%;
    }
    .nav-link{
      display: block;
      font-size: .9rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: .001rem solid rgba(255, 255, 255, .1);
    }
    .nav-link::before{
      display: none;
    }
    .nav-item:last-child .nav-link{
      border-bottom: 0;
    }
  }
  @media screen and (max-width:768px) {
    .logo{
      font-size: 1.2rem;
    }
  }
</style>