---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import Experiencia from '../components/Experiencia.astro';
import Trabajos from '../components/Trabajos.astro';
import SobreMi from '../components/SobreMi.astro';

---

<Layout 
title="DATASYNC" 
description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas.">
	<main>
		<Hero />
		<Experiencia />
		<Trabajos />
		<SobreMi />

	</main>
</Layout>