---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import Experiencia from '../components/Experiencia.astro';
import Trabajos from '../components/Trabajos.astro';
import SobreMi from '../components/SobreMi.astro';

---

<Layout 
title="Porfolio de Silfrido Benitez - Frontend - UX UI" 
description="Me llamo Silfrido Benítez y actualmente trabajo como diseñador Web en Porta Agencia Web. Tengo más de 4 años de experiencia en el diseño, desarrollo y mantenimiento de interfaces web. Tengo sólidos conocimientos en HTML semántico, CSS y optimización para mejorar el rendimiento, así como experiencia con una variedad de frameworks y bibliotecas frontend.">
	<main>
		<Hero />
		<SobreMi />
		<Experiencia />
		<Trabajos />

	</main>
</Layout>