<section class="seccion-experiencia">
  <h2 class="title-experiencia">Experiencia Profesional</h2>
  <article class="card-experiencia">
    <p class="date-card-experiencia">2020 - Actualmente</p>
    <h3 class="title-card-experiencia">
      <a href="https://www.porta.com.py/" target="_blank">
        Agencia Web Porta
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M16 .889v11.555a.889.889 0 1 1-1.778 0v-9.41L1.518 15.74A.89.89 0 1 1 .26 14.482L12.966 1.778h-9.41a.889.889 0 0 1 0-1.778H15.11A.889.889 0 0 1 16 .889Z" fill="#FEFFC5"/></svg>
      </a>
    </h3>
    <p class="text-card-experiencia">Mis principales tareas son el diseño, desarrollo y mantenimiento de landings, ecommerces, plantillas para correos y dashboards, siempre considerando tanto la versión móvil como la de escritorio. Además, lidero la construcción, desarrollo y optimización de los ecommerces de varias empresas.</p>
  </article>
</section>

<style>
  .seccion-experiencia{
    max-width: 90%;
		width: 100%;
		margin: 0 auto;
    padding: 6rem 1.5rem;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }
  .title-experiencia{
    font-size: var(--font-hero);
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    line-height: 1;
    color: var(--principal);
    margin-bottom: 3.5rem;
  }
  /* Card */
  .date-card-experiencia{
    font-size: .875rem;
    color: var(--principal);
    margin-bottom: 1rem;
  }
  .title-card-experiencia a{
    font-size: 2rem;
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    line-height: 1;
    color: var(--principal);
    text-align: underline;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 1.5rem;
  }
  .title-card-experiencia a svg{
    width: 1rem;
    height: 1rem;
  }
  .text-card-experiencia{
    font-size: 1rem;
    color: var(--principal);
    line-height: 24px;
    letter-spacing: 0.02rem;
    margin-top: 0;
    max-width: 764px;
    text-wrap: pretty;
  }
  @media screen and (max-width:1100px) {
    .seccion-experiencia{
      max-width: calc(100% - 30px);
    }
  }
  @media screen and (max-width:768px) {
    .seccion-experiencia{
      max-width: calc(100% - 2px);
    }
    .title-experiencia{
      line-height: 1.3;
    }
    .title-card-experiencia a{
      font-size: 1.6rem;
    }
  }
</style>