---
const TECNOLOGIAS = [
  {
    title: "HTML",
    image: "../images/html.svg",
    alternativo: "Icono de HTML",
    classPill: "pill pill-1",
  },
  {
    title: "CSS",
    image: "../images/css.svg",
    alternativo: "Icono de CSS",
    classPill: "pill pill-2",
  },
  {
    title: "Javascript",
    image: "../images/js.svg",
    alternativo: "Icono de Javascript",
    classPill: "pill pill-3",
  },
  {
    title: "Figma",
    image: "../images/figma.svg",
    alternativo: "Icono de Figma",
    classPill: "pill pill-4",
  },
]
---
<section class="seccion-hero">
  <div class="wrapper-hero">
    <h1 class="title-hero">Diseño interfaces intuitivas, eficientes y versátiles.</h1>
    <p class="text-hero">Más de 4 años de experiencia como desarrollador creativo, me centro tanto en el diseño como en el desarrollo, lo que me permite trabajar en proyectos desde el concepto hasta el momento de la publicación.</p>
    <ul class="list-hero">
      <li>
        <a href="mailto:silfridobenitez65@gmail.com" target="_blank" class="btn btn-primary">
          ¿Hablamos?
        </a>
      </li>
      <!-- <li>
        <a href="https://drive.google.com/file/d/1c2goHH9EbNcPvx85Hleve97pOY1UFhiE/view?usp=sharing" target="_blank" class="btn btn-outline">
          Leer mi CV
        </a>
      </li> -->
    </ul>
    {
      TECNOLOGIAS.map(({ image, title, classPill, alternativo }) => ( 
        <p class={classPill}>
          {title}
          <span>
            <img src={image} alt={alternativo} loading="lazy" class="img-pill">
          </span>
        </p>
      ))
    }

  </div>
    

</section>


<style>
  .seccion-hero{
    background-color: var(--fondo);
    background-image: url(/images/grid.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 10rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  .wrapper-hero{
    max-width: 836px;
		width: 100%;
		margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .title-hero{
    font-size: var(--font-hero);
    font-weight: bold;
    letter-spacing: 0.02rem;
    line-height: 1.3;
    text-align: center;
    color: var(--principal);
    margin-bottom: 1.25rem;
  }
  .text-hero{
    font-size: var(--font-text);
    color: var(--principal);
    letter-spacing: 0.02rem;
    line-height: 1.5;
    text-wrap: pretty;
    text-align: center;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .list-hero{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .pill{
    background: #3F4273;
    padding: .75rem 1rem;
    border-radius: 50px;
    font-size: 14px;
    color: var(--white);
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: absolute;
    animation: float 11s linear infinite;
  }
  .pill span{
    background: var(--black);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pill span img{
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  .pill-1{
    top: -1rem;
    left: -9rem;
  }
  .pill-2{
    top: 60%;
    left: -4rem;
  }
  .pill-3{
    top: -4rem;
    right: -1rem;
  }
  .pill-4{
    top: 30%;
    right: -9rem;
  }
  @keyframes float {
    0% {
    filter: drop-shadow(1px 2px 1px rgb(85 81 177 / 80%));
    translate: 0;
    }
    50% {
      filter: drop-shadow(2px 4px 8px rgb(85 81 177 / 80%));
      translate: 0 20px;
    }
    100% {
      filter: drop-shadow(1px 2px 1px rgb(85 81 177 / 80%));
      translate: 0;
    }
  }

  @media screen and (max-width:1200px) {
    .pill{
      font-size: 12px;
      opacity: .5;
    }
    .pill-1{
      top: -5rem;
      left: 1rem;
    }
    .pill-2{
      top: unset;
      bottom: -8rem;
      left: 1rem;
    }
    .pill-3{
      top: -4rem;
      right: 1rem;
    }
    .pill-4{
      top: unset;
      bottom: -4rem;
      right: 1rem;
    }
  }
  @media screen and (max-width:768px) {
    .wrapper-hero{
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .text-hero{
      width: 100%;
    }
  }
  @media screen and (max-width:500px) {
    .seccion-hero{
      padding-bottom: 8rem;
    }
    .wrapper-hero{
      width: 100%;
    }
    .pill{
      display: none;
    }
  }

</style>