<section class="seccion-sombremi" id="sobre-mi">
  <div class="grid-sobremi">
    <div class="item-sobremi">
      <div class="wrapper-img-sobremi">
        <img src="/images/hero-3.jpg" alt="Imagen de perfil" class="img-sombremi">
      </div>
    </div>
    <div class="item-sobremi">
      <div class="wrapper-text-sobremi">
        <h2 class="title-sombremi">Sobre mí</h2>
        <p class="text-card-sombremi">Me llamo Silfrido Benítez y actualmente trabajo como diseñador Web en Porta Agencia Web. Tengo experiencia en el diseño, desarrollo y mantenimiento de interfaces web. Tengo sólidos conocimientos en HTML semántico, CSS y optimización para mejorar el rendimiento, así como experiencia con una variedad de frameworks y bibliotecas frontend.</p>
        <p class="text-card-sombremi">Como diseñador, he trabajado con diversas marcas de distintos sectores, lo que me ha permitido experimentar con tendencias o adoptar un enfoque más serio según los requerimientos de cada marca.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .seccion-sombremi{
    max-width: 1500px;
		width: 90%;
		margin: 0 auto;
    padding: 6rem 1.5rem;
    scroll-margin-top: 2rem;
  }
  .grid-sobremi{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    align-items: center;
    gap: 2rem;
    border-radius: var(--border-radius);
    background: url(../../public/images/grid.svg), linear-gradient(107.61deg, #272648 20.76%, #5450AF 99.49%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper-img-sobremi{
    width: 100%;
    height: 640px;
  }
  .img-sombremi{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius);
  }
  .wrapper-text-sobremi{
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .title-sombremi{
    font-size: var(--font-seccion);
    font-weight: 600;
    line-height: 1;
    color: var(--principal);
    margin-bottom: 2.5rem;
  }
  /* Card */
  .text-card-sombremi{
    font-size: 1rem;
    color: var(--principal);
    line-height: 1.5;
    letter-spacing: 0.02rem;
    margin-top: 0;
    margin-bottom: 2rem;
    max-width: 764px;
    text-wrap: pretty;
  }

  @media screen and (max-width:1100px) {
    .seccion-sombremi{
		  width: 90%;
    }
  }
  @media screen and (max-width:768px) {
    .seccion-sombremi{
      max-width: 100%;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .wrapper-img-sobremi{
      height: auto;
    }
    .wrapper-text-sobremi{
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .title-card-trabajos{
      font-size: 1.25rem;
    }
  }
</style>