<section class="seccion-sombremi" id="sobre-mi">
  <div class="grid-sobremi">
    <div class="item-sobremi">
      <div class="wrapper-img-sobremi">
        <picture>
          <source srcset="/images/perfil-4.webp" media="(max-width: 500px)" />
          <img src="/images/perfil-4.webp" alt="Imagen de perfil" width="706" height="640" class="img-sombremi">
        </picture>
      </div>
    </div>
    <div class="item-sobremi">
      <div class="wrapper-text-sobremi">
        <h2 class="title-sombremi load-hidden">Sobre mí</h2>
        <p class="text-card-sombremi load-hidden">Me llamo Silfrido Benítez, soy diseñador web en Porta Agencia Web, especializado en la creación y mantenimiento de interfaces web optimizadas. Tengo sólidos conocimientos en HTML semántico, CSS, JavaScript y frameworks frontend. Uso diariamente herramientas como Figma, Photoshop e Illustrator, adaptándome a las necesidades y estilos de cada marca con la que trabajo.</p>

        <p class="text-card-sombremi load-hidden">Como diseñador, he trabajado con diversas marcas de distintos sectores, lo que me ha permitido experimentar con tendencias o adoptar un enfoque más serio según los requerimientos de cada marca.</p>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const sr = ScrollReveal({
      origin: 'bottom',
      distance: '80px',
      duration: 2000,
      reset: false
    });

    sr.reveal('.title-sombremi', {
      delay: 200,
      interval: 200
    })
    sr.reveal('.text-card-sombremi', {
      delay: 250,
      interval: 250
    })
  });
</script>

<style>
  .seccion-sombremi{
    max-width: 1500px;
		width: 90%;
		margin: 0 auto;
    padding: 6rem 1.5rem;
    scroll-margin-top: 2rem;
  }
  .grid-sobremi{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    align-items: center;
    gap: 2rem;
    border-radius: var(--border-radius);
    background: url(../../public/images/grid.svg), linear-gradient(107.61deg, #272648 20.76%, #5450AF 99.49%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper-img-sobremi{
    width: 100%;
    height: 640px;
  }
  .img-sombremi{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius);
  }
  .wrapper-text-sobremi{
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .title-sombremi{
    font-size: var(--font-seccion);
    font-weight: 600;
    line-height: 1;
    color: var(--principal);
    margin-bottom: 2.5rem;
  }
  /* Card */
  .text-card-sombremi{
    font-size: 1rem;
    color: var(--principal);
    line-height: 1.5;
    letter-spacing: 0.02rem;
    margin-top: 0;
    margin-bottom: 2rem;
    max-width: 764px;
    text-wrap: pretty;
  }

  @media screen and (max-width:1100px) {
    .seccion-sombremi{
		  width: 90%;
    }
  }
  @media screen and (max-width:768px) {
    .seccion-sombremi{
      max-width: 100%;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .wrapper-img-sobremi{
      height: auto;
    }
    .wrapper-text-sobremi{
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .title-card-trabajos{
      font-size: 1.25rem;
    }
  }
</style>